a, p, h1, h2{
  font-family: Open Sans;
  font-weight: 100;
}
* {
  font-family: Open Sans;
}
.nav .nav-item .active {
    font-weight: 800;
}
ul .dropdown .dropdown-toggle {
    color: #272A2E;
}
fieldset {
    margin-top: 10px;
}